@font-face {
    font-family: 'KHSHFont';
    src: url(../KHSH-Regular.otf);
}

@font-face {
    font-family: 'William';
    src: url(../WilliamTextProRegIta.otf);
}

@font-face {
    font-family: 'Suisse';
    src: url(../SuisseIntl-Book.otf);
}

*{
     -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.logo{
    width: 75%;
    padding: 15px;
    cursor: pointer;
/*    position: absolute;*/
}


.arrows{
/*    position: absolute;*/
    width: 75%;
    height: auto;
    padding-bottom: 50px;
    font-size: 20px;
    color: black;
}

.arrow_next{
    font-family: 'KHSHFont';
    padding-left: 20px;
/*    right: 0px;*/
    float: right;
/*    position: relative;*/
/*    text-align: right;*/
    
}

.arrow_next a, .arrow_previous a{

   padding: 10px;
}


.arrow_next a:hover, .arrow_previous a:hover{
    color: white;
    background-color: blue;
    border-radius: 25px;
/*   padding: 20px;*/
}

.arrow_previous{
    font-family: 'KHSHFont';
    padding-left: 20px;
    float: left;
/*    position: absolute;*/
/*    text-align: left;*/
/*    text-align: right;*/
}

.event {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 14px;
    grid-row-gap: 11px;
    width: 75%;
    padding-bottom: 50px;
}

.event_text {
    grid-area: 1 / 1 / 2 / 2;
    padding-left: 20px;
}

.event_video {
    grid-area: 1 / 2 / 2 / 3;
   
}

.event_video iframe {
    border-radius: 18px;
     position: sticky;
    top: 20px;
}

.title {
    grid-area: 1 / 1 / 2 / 3;
    font-family: 'KHSHFont';
    font-size: 60px;
    line-height: 50px;
    text-transform: uppercase;
}

.date {
    grid-area: 2 / 1 / 3 / 2;
    /*     height: 50%;*/
    font-family: 'Suisse';
    font-size: 20px;
    text-align: left;
}

.location {
    grid-area: 2 / 2 / 3 / 3;
    /*     height: 50%;*/
    font-family: 'Suisse';
    font-size: 20px;
    text-align: left;
}

.info {
    grid-area: 1 / 3 / 3 / 5;
    font-family: 'William';
    font-size: 16px;
      word-spacing: 2px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

img {
    max-width:100%;
max-height:100%;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 1 / 3 / 4;
}

.div5 {
    grid-area: 3 / 1 / 4 / 2;
}

.div6 {
    grid-area: 3 / 2 / 4 / 3;
}

.div7 {
    grid-area: 3 / 3 / 4 / 4;
}

.div8 {
    grid-area: 4 / 1 / 5 / 3;
}

.div9 {
    grid-area: 4 / 3 / 5 / 4;
}

.div10 {
    grid-area: 5 / 1 / 6 / 2;
}

.div11 {
    grid-area: 5 / 2 / 6 / 3;
}

.div12 {
    grid-area: 5 / 3 / 6 / 4;
}

.div13 {
    grid-area: 6 / 1 / 7 / 4;
}

.div14 {
    grid-area: 7 / 1 / 8 / 2;
}

.div15 {
    grid-area: 7 / 2 / 8 / 4;
}

.div16 {
    grid-area: 8 / 1 / 9 / 2;
}

.div17 {
    grid-area: 8 / 2 / 9 / 3;
}

.div18 {
    grid-area: 8 / 3 / 9 / 4;
}

.sidebar{
    position: fixed;
    width: 22%;
    padding-right: 10px;
    float: right;
    right: 0;
    top: 10px;
    font-family: 'KHSHFont';
    font-size: 22px;
    color: black;
}

.sidebar_item {
    display: grid;
grid-template-columns: 0.7fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 15px;
    border-bottom: 1px solid black;
    opacity: 30%;
    color: black;
    padding-bottom: 20px;
}

.sidebar_item:hover{
   opacity: 100%;
}

.sidebar_date {
    grid-area: 1 / 1 / 2 / 2;
    font-family: 'KHSHFont';
    font-size: 25px;
}



.sidebar_title {
    grid-area: 1 / 2 / 2 / 3;
}
.listitem:hover{
    opacity: 100%;
}

.listitem:active{
    opacity: 100%;
}

.listitem{
    opacity: 45%;
/*    width: 100px;*/
    background-color: lightgrey;
    border-radius: 4px;
    margin: 8px;
    padding: 12px;
}

#listitem_date{
    font-family: 'KHSHFont';
}

a  {
  text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
}


footer{
    border-top: 1px solid blue;
    padding: 20px;
    background-color: #0044F2;
    color: white;
    column-count: 2;
    max-width: 100%;
}

footer a{
    color: white;
    font-family: 'Suisse';
    font-size: 18px;
}

footer a:hover{
    color: lawngreen;
}


@media only screen and (max-width: 850px) {
    /* Style adjustments for viewports that meet the condition */
    .event {
    display: inline; 
    width: 100%;
/*    padding-right: 100px;*/
}
    .logo{
              width: 95%;
        padding: 10px;
    }
    
    .arrows{
/*        display: inline;*/
        width: 100%;
    }
    
    .arrow_previous{
        padding-left: 0px;
    }
    
    .event_video {
    position: relative;
    width: 92%;

}
    
    .title{
        font-size: 40px;
        line-height: 38px;
    }
    
    .event_text{
        padding: 10px;
    }

.event_video iframe{
    width: 100%;
    height: 250px;
        border-radius: 25px;
    padding: 20px;
}
    
 .div2, .div3,.div4,.div5{
        padding: 10px;
    }

    .sidebar {
        position: relative;
        width: 96%;
        padding-left: 10px;
        top: 0;
/*        padding: 20px;*/
        float: left;
/*        margin: 10px;*/
    }
    
    footer{
        column-count: 1;
    }

}

