/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@font-face {
    font-family: 'KHSHFont';
    src: url(../KHSH-Regular.otf);
}

@font-face {
    font-family: 'William';
    src: url(../WilliamTextProRegIta.otf);
    font-feature-settings: "ss06";
}

@font-face {
    font-family: 'Suisse';
    src: url(../SuisseIntl-Book.otf);
}


html {
    color: #222;
    font-size: 1em;
    /*    line-height: 1.4;*/

}

*{
     -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {}

.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 30px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 32px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 50px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    border-radius: 32px;
}

.logo {
    /*    position: relative;*/
}

.lang {
    font-family: 'KHSHFont';
    font-size: 30px;
    padding-left: 20px;
    padding-top: 5px;
    color: black;
    float: right;
/*    display: block;*/
    position: absolute;
}

.live {
    position: relative;
    width: 75%;

}

.live iframe {
    width: 100%;
    border-radius: 25px;
    padding: 20px;
}

.parent {
    display: grid;
    /*
    grid-template-columns: repeat(2, 1fr) 0.7fr;
    grid-template-rows: repeat(6, 1fr);
*/
    grid-column-gap: 14px;
    grid-row-gap: 11px;
}

.div1 {
    padding: 20px;
    grid-area: 1 / 1 / 2 / 3;
}



.div2 {
    padding: 45px;
    grid-area: 2 / 1 / 3 / 4;
    background-color: #0044F2;
    color: white;
}

.div2 .event .title a {
    color: white;
}

.div3 {
    padding: 45px;
    grid-area: 3 / 1 / 4 / 4;
}

.div4 {
    padding: 45px;
    grid-area: 4 / 1 / 5 / 4;
}

.div5 {
    padding: 45px;
    grid-area: 5 / 1 / 6 / 4;
}

.div6 {
    grid-area: 6 / 1 / 7 / 4;
}

.div7 {
    grid-area: 1 / 3 / 2 / 4;
}

.div8 {
    grid-area: 2 / 3 / 3 / 4;
}

.div9 {
    grid-area: 3 / 3 / 4 / 4;
}

.div10 {
    grid-area: 4 / 3 / 5 / 4;
}

.div11 {
    grid-area: 5 / 3 / 6 / 4;
}

.div12 {
    grid-area: 6 / 3 / 7 / 4;
}


.event {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: repeat(2, 1fr); */
    grid-column-gap: 20px;
    grid-row-gap: 11px;
    width: 78%;
    /*    padding-right: 100px;*/
}

.title {
    grid-area: 1 / 1 / 2 / 3;
    font-family: 'KHSHFont';
    font-size: 60px;
    line-height: 50px;
}

.title a {
    color: black;
}

.title a:hover {
    opacity: 65%;

}

.date {
    grid-area: 2 / 1 / 3 / 2;
    /*     height: 50%;*/
    font-family: 'Suisse';
    font-size: 20px;
    text-align: left;
}

.location {
    grid-area: 2 / 2 / 3 / 3;
    /*     height: 50%;*/
    font-family: 'Suisse';
    font-size: 20px;
    text-align: left;
}

.info {
    grid-area: 1 / 3 / 3 / 5;
    font-family: 'William';
    font-size: 18px;
    word-spacing: 2px;
}


.divide {
    position: relative;
    text-align: center;
    padding-bottom: 15px;
}


.listitem:hover {
    opacity: 100%;
}

.listitem:active {
    opacity: 100%;
}

.listitem {
    opacity: 45%;
    /*    width: 100px;*/
    background-color: lightgrey;
    border-radius: 4px;
    margin: 8px;
    padding: 12px;
    color: black;
}

a:visited {
    text-decoration: none;
}

#listitem_date {
    font-family: 'KHSHFont';
}

a {
    text-decoration: none;
    /*    color: black;*/
}
.sidebar{
     position: fixed;
    width: 22%;
    float: right;
    right: 0;
    top: 10px;
    font-family: 'KHSHFont';
    font-size: 22px;
    color: black;
}

.sidebar_item {
    display: grid;
grid-template-columns: 0.7fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 15px;
    border-bottom: 1px solid black;
    opacity: 30%;
    color: black;
    padding-bottom: 20px;
}

.sidebar_item:hover{
   opacity: 100%;
}

.sidebar_date {
    grid-area: 1 / 1 / 2 / 2;
    font-family: 'KHSHFont';
    font-size: 25px;
}



.sidebar_title {
    grid-area: 1 / 2 / 2 / 3;
}


footer {
    border-top: 1px solid blue;
    padding: 20px;
    background-color: #0044F2;
    color: white;
    column-count: 2;
}

footer a {
    color: white;
    font-family: 'KHSHFont';
    font-size: 25px;
}

footer a:hover {
    color: lawngreen;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 850px) {

    /* Style adjustments for viewports that meet the condition */
    .event {
        display: inline;
        width: 100%;
        /*    padding-right: 100px;*/
    }

    .logo {
        width: 100%;
    }


    .live {
        position: relative;
        width: 100%;

    }

    .live iframe {
        width: 92%;
        height: 250px;
        border-radius: 25px;
        padding: 20px;
    }

    .sidebar {
        position: relative;
        width: 100%;
    }

}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " ("attr(href) ")";
    }

    abbr[title]::after {
        content: " ("attr(title) ")";
    }

    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
