@font-face {
    font-family: 'KHSHFont';
    src: url(../KHSHtype.otf);
}


.event {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 14px;
    grid-row-gap: 11px;
    width: 75%;
}

.event_text {
    grid-area: 1 / 1 / 2 / 2;
    padding: 20px;
}

.event_video {
    grid-area: 1 / 2 / 2 / 3;
}

.event_video iframe {
    border-radius: 18px;
}

.title {
    grid-area: 1 / 1 / 2 / 3;
    font-family: 'KHSHFont';
    font-size: 60px;
    line-height: 50px;
}

.date {
    grid-area: 2 / 1 / 3 / 2;
    /*     height: 50%;*/
    font-family: Arial;
    font-size: 20px;
    text-align: left;
}

.location {
    grid-area: 2 / 2 / 3 / 3;
    /*     height: 50%;*/
    font-family: Arial;
    font-size: 20px;
    text-align: left;
}

.info {
    grid-area: 1 / 3 / 3 / 5;
    font-family: Times;
    font-size: 18px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

img {
    max-width:100%;
max-height:100%;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 1 / 3 / 4;
}

.div5 {
    grid-area: 3 / 1 / 4 / 2;
}

.div6 {
    grid-area: 3 / 2 / 4 / 3;
}

.div7 {
    grid-area: 3 / 3 / 4 / 4;
}

.div8 {
    grid-area: 4 / 1 / 5 / 3;
}

.div9 {
    grid-area: 4 / 3 / 5 / 4;
}

.div10 {
    grid-area: 5 / 1 / 6 / 2;
}

.div11 {
    grid-area: 5 / 2 / 6 / 3;
}

.div12 {
    grid-area: 5 / 3 / 6 / 4;
}

.div13 {
    grid-area: 6 / 1 / 7 / 4;
}

.div14 {
    grid-area: 7 / 1 / 8 / 2;
}

.div15 {
    grid-area: 7 / 2 / 8 / 4;
}

.div16 {
    grid-area: 8 / 1 / 9 / 2;
}

.div17 {
    grid-area: 8 / 2 / 9 / 3;
}

.div18 {
    grid-area: 8 / 3 / 9 / 4;
}

.sidebar{
    position: fixed;
    width: 22%;
    float: right;
    right: 0;
    top: 0;
     font-family: 'KHSHFont';
    font-size: 22px;
}

.listitem:hover{
    opacity: 100%;
}

.listitem:active{
    opacity: 100%;
}

.listitem{
    opacity: 45%;
/*    width: 100px;*/
    background-color: lightgrey;
    border-radius: 4px;
    margin: 8px;
    padding: 12px;
}

#listitem_date{
    font-family: Arial;
}

a  {
  text-decoration: none;
    color: black;
}

@media only screen and (max-width: 850px) {
    /* Style adjustments for viewports that meet the condition */
    .event {
    display: inline; 
    width: 100%;
/*    padding-right: 100px;*/
}
    .logo{
        width: 100%;
    }
    
    
    .event_video {
    position: relative;
    width: 92%;

}

.event_video iframe{
    width: 100%;
    height: 250px;
        border-radius: 25px;
    padding: 20px;
}
    
    .sidebar{
        position: relative;
        width: 100%;
    }

}